body {
    font-family: "Bebas+Neue", "sans-serif"
}

header {
    display:block;
    background-color: rgb(150, 200, 243);
    text-align: center;
    padding: 1rem;
    
}

.container {
    display:inline-block;
    flex-wrap: wrap;
} 

.search-form {
    display:inline-block;
    border-style: solid;
    border-width: .2rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(214, 210, 210);
}

.card { 
    border-style: solid;
    border-width: .2rem;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 20%;
}

.green {
    background-color: rgb(169, 245, 169);
}

.yellow {
    background-color: rgb(240, 238, 109);
}

.orange {
    background-color: rgb(187, 140, 53);
}

.red {
    background-color: rgb(177, 48, 31);
}

.indigo {
    background-color: rgb(128, 12, 102);
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

  